<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fypet-navbar align-left">
  <%= link_to "#", class: "navbar-brand" do %>  <%= link_to root_path, class: "navbar-brand" do %>
    <p class="logo-text"><strong>em powered</strong></p>
    <% end %> <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>     <span class="navbar-toggler-icon"></span>
  </button>   </button>

</div>
