<div class="container dynamic-text">
  <script src="typed.js"></script>

  <div class="container text-home">
    <div class="header">
      <h1 class="prefix">Em<span id="typed"></span></h1>
    </div>

    <div class="tagline">
      <h2>It's a pleasure to e-meet you.</h2>
    </div>
  </div>

  <div>
    <div class="card-trip">
      <div>
       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="banner" />
      <div class="card-trip-infos">
        <div>
          <h3>Graduated with a Bachelor's Degree in Political Science.</h3>
          <p class="small-text">McGill University, ranked 2nd in Canada.</p>
        </div>
          <h2 class="card-trip-pricing">2017</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="card-trip-right">
      <div>
       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="banner" />
      <div class="card-trip-right-infos">
        <div>
          <h3>Graduated with a Bachelor's Degree in Political Science.</h3>
          <p class="small-text">McGill University, ranked 2nd in Canada.</p>
        </div>
          <h2 class="card-trip-right-pricing">2017</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-right-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>
</div>
