<div class="container dynamic-text">
  <script src="typed.js"></script>

  <div class="container text-home">
    <div class="header">
      <h1 class="prefix">Em<span id="typed"></span></h1>
    </div>

    <div class="tagline">
      <h2>It's a pleasure to e-meet you.</h2>
    </div>
  </div>
</div>

