<div class="top-container">
  <div class="row inline">
    <div class="col-lg-2 col-sm-12">

    </div>

    <div class="col-lg-10">
      <h1 class="header">refresh</h1>
      <h4 class="brand">by dreamart photography</h4>
      <h4 class="project-info">app, landing page, strategy</h4>
      <h4 class="project-details">video, social network, luxury tourism <br> 2020</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="photo img-one"></div>
</div>

<div class="container">
  <div class="row mission">
    <p>After a year with DreamArt Photography, I pitched them an idea: scale quickly and become no 1 photography company in the world by combining today's trends - video, network effect, and brand - and rethinking the business model. We designed an immersive visual experience in the form of a video-sharing social network for luxury tourism.</p>
  </div>
  <div class="row inline approach">
    <div class="col-lg-6 col-sm-12">
      <h4>approach</h4>
      <h2>independence</h2>
      <p class="small-text">With increasing competition and concessions fees, our strategy was two-folds, 1) become independent hotel partners, away from concessions; 2) turn our photo-videographers into freelance artists. We chose to do so with the help of network effects, user-generated-content, and a brand new business model. We started interviewing luxury hotel chains to learn more about their content needs. We began to play around with social apps and travel booking sites. The complex app we designed will revolutionize both the photography industry and the luxury travel world.</p>
    </div>

    <div class="col-lg-5 photo img-two">
      <img class="photo img-two"></img>
    </div>
  </div>
</div>
